<div class="container">
  <div class="foto1">
    <img src="../../../assets/imagen/20220416_230748 (1).jpg" alt="foto" id="fot">
  </div>
  
  <div class="container">
    <b class="n1"> NOMBRE:</b> <p class="n2"> Marian Yelin.</p> 
    <br>
    <b class="n1"> APELLIDOS:</b> <p class="n2">Suarez Nibusha.</p> 
    <br>
    <b class="n1">FECHA DE NACIMIENTO:</b> <p class="n2"> 10/07/2004.</p>
    <br>
    <b class="n1">LUGAR DE NACIMIENTO:</b>  <p class="n2">Santa Cruz de la Sierra - Andres Ibañes.</p> 
    <br>
    <b class="n1" >NACIONALIDAD:</b> <p class="n2"  >Boliviana.</p>  
    <br>
  </div>
  
</div>