/* 
.col{
  font-size: 25px;
   margin: 30px;
}
 */
/* .estu2{
  font-size: 30px;
  color: crimson;
  margin: 30px;
  width: 50%;
}  */

/* .col1{
  font-size: 25px;
   margin: 30px;
  }  */

  /* anterior */
/* fila2{   . */
    /* text-align: right; */
    /* width: 50%;

  }

  .todo{
    width: 70%;
    margin: 0 20%;
    margin-top: 250px;
    
  }
 
  .columna1{
    width: 45%;
    float: left;
    margin: 10px;
    background-color: aqua;
    border-radius: 20px;
  }

  .estu1{
    font-size: 32px;
    color: crimson;
    text-align: center;
  } 

  .fabi{
    font-size: 20px;

  }
  .bachi{
    text-align: center;
  } */

  .encabezado {
    background: white;
    color: crimson;
    text-align: center;
    
    }
  body {
    
    text-align: center;
    
    
     }
    td {
      background: #f894c3;
       }
  h1 {
    background: #94E1F8;
    text-align: center;
    font-family: system-iu;
    
    

    }
  
    #tamanio{
      margin: 10% 25%;
      background-color:rgb(232, 74, 106);
     
      font-size: 30px;
      
      
    }
   
    .letras{
      font-size: 20px;
    }
    @media screen and (max-width: 1024px) {
      .tamanio{
        flex-direction: column;
      }
    }
  
    