/* .box {
  width: 310px;
  height: 320px;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  float: left;
  margin: 7%;
  background-color: rgb(43, 186, 226);
}

.left-shape {
  shape-outside: polygon(0 0,
      100% 0,

      55% 5%,
      20% 20%,
      5% 35%,

      0 50%,

      5% 65%,
      20% 80%,
      55% 95%,

      100% 100%,
      0 100%);
  float: left;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0,
      100% 0,

      55% 5%,
      20% 20%,
      5% 35%,

      0 50%,

      5% 65%,
      20% 80%,
      55% 95%,

      100% 100%,
      0 100%);
}

.right-shape {
  shape-outside: polygon(100% 0,
      0 0,

      45% 5%,
      80% 20%,
      95% 35%,

      100% 50%,

      95% 65%,
      80% 80%,
      45% 95%,

      0 100%,
      100% 100%);
  float: right;
  width: 50%;
  height: 100%;
  clip-path: polygon(100% 0,
      0 0,

      45% 5%,
      80% 20%,
      95% 35%,

      100% 50%,

      95% 65%,
      80% 80%,
      45% 95%,

      0 100%,
      100% 100%);
}


.box1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  float: right;
  margin: 180px;
  background-color: aqua;

}

.left-shape1 {
  shape-outside: polygon(0 0,
      100% 0,

      55% 5%,
      20% 20%,
      5% 35%,

      0 50%,

      5% 65%,
      20% 80%,
      55% 95%,

      100% 100%,
      0 100%);
  float: left;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0,
      100% 0,

      55% 5%,
      20% 20%,
      5% 35%,

      0 50%,

      5% 65%,
      20% 80%,
      55% 95%,

      100% 100%,
      0 100%);
}

.right-shape1 {

  shape-outside: polygon(100% 0,
      0 0,

      45% 5%,
      80% 20%,
      95% 35%,

      100% 50%,

      95% 65%,
      80% 80%,
      45% 95%,

      0 100%,
      100% 100%);
  float: right;
  width: 50%;
  height: 100%;
  clip-path: polygon(100% 0,
      0 0,

      45% 5%,
      80% 20%,
      95% 35%,

      100% 50%,

      95% 65%,
      80% 80%,
      45% 95%,

      0 100%,
      100% 100%);
}

.habi2 {
  text-align: center
} */

.container{
  margin-top: 10px;
  
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  margin: 10% 25%;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: rgb(187, 184, 184);
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #000000;
  margin-top: 5px;
  font-weight: bold;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: rgb(141, 0, 28);
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }

  .description{
    color:crimson;

    font-weight: bold;
  }
  #dis2{
    color:black
  }
}