<div class="container-form">
  <form [formGroup]="formulario" (ngSubmit)="guardar()">


    <div>
      <p class="saludo">
        Elige el horario que más te convenga y nos vemos pronto!
      </p>
    </div>


    <div class="fila-superior">
        <div class="col-5">
          <label for="fname" class="lbl">
            <h3 class="question" id="subtit">Nombre</h3>
          </label>
          <div class="columnder">
            <input type="text" id="fname" placeholder="Nombre" class="txtbox" formControlName="nombre"
              [class.is-invalid]="nombreNoValido">
            <br>
            <small class="text-danger" *ngIf="nombreNoValido">
              Ingrese más de 3 letras
            </small>
          </div>
        </div>


        <div class="col-5">
          <label for="flast" class="lbl">
            <h3 class="question" id="subtit">Apellido</h3>
          </label>
          <div class="columnder">
            <input type="text" id="flast" placeholder="Apellido" class="txtbox" formControlName="apellido"
              [class.is-invalid]="apellidoNoValido">
            <br>
            <small class="text-danger" *ngIf="apellidoNoValido">
              Ingrese más de 3 letras
            </small>
          </div>
        </div>

        <div class="col-5">
          <label for="fcorreo" class="lbl">
            <h3 class="question" id="subtit">Correo</h3>
          </label>
          <div class="columnder">
            <input type="text" id="fcorreo" placeholder="Correo" class="txtbox" formControlName="correo"
              [class.is-invalid]="correoNoValido">
            <br>
            <small class="text-danger" *ngIf="correoNoValido">
              Ingrese más de 3 letras
            </small>
          </div>
        </div>

        <div class="col-5">
          <label for="fphone" class="lbl">
            <h3 class="question" id="subtit">Teléfono</h3>
          </label>
          <div class="columnder">
            <input type="number" id="fphone" placeholder="Teléfono" class="txtbox" formControlName="telefono"
              [class.is-invalid]="telefonoNoValido">
            <br>
            <small class="text-danger" *ngIf="telefonoNoValido">
              Ingrese un número válido
            </small>
          </div>
        </div>
    </div>

    <div class="fila-centro">
      <h3 class="question1" id="subtit"> La ubica☻ción de la reunión será</h3>
    </div>

    <div class="fila-centro2">
    
       
          <DIV class="opc">
            <input type="radio" id="meet" value="meet" name="lugar" formControlName="lugar">
            <label for="meet">Google meet</label>
          </DIV>
          <div class="opc">
            <input type="radio" id="zoom" value="zoom" name="lugar" formControlName="lugar">
            <label for="zoom">Zoom</label>
          </div>
          <div class="opc">
            <input type="radio" id="ubi" value="ubicacion" name="lugar" formControlName="lugar">
            <label for="ubi">Ubicación</label>
          </div>
        
      
    </div>

    <div class="fila-centro3">
      
        <div class="columnaHorario">
          <H3 class=" question" id="subtit">Seleccione un horario</H3>
          <div >
            <DIV>
              <input type="time" id="A" value="1:30 pm" name="hora" formControlName="hora" class="date1" >
            </DIV>
          </div> <br> <br> <br>
        </div>
        <div class="columna fecha">
          <h3  class="question" id="subtit">Seleccione un día </h3>
         
          <input type="date" class="date" id="date" formControlName="fecha">
        </div>
     
    </div>

      <div class="descripcion">
        <h3 id="subtit">Descripción</h3>
        <textarea class="txtbox" name="descripcion" placeholder="Sobre la reunión" id="des" cols="40" rows="10"
          formControlName="comentario"></textarea>
      </div>

    <div class="box">
      <div>
        <button type="submit" class="enviar" [disabled]="formulario.invalid" (click)="MensajeEnviado">Enviar </button>
        <p class="m">{{ mensaje}}</p>
      </div>
    </div>

  </form>


  <!-- LA TABLA -->

  <table class="most">

    <div class="table">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Comentario</th>
        <th>Fecha</th>
        <th>Hora</th>
      </tr>
      <button (click)="obtenerLocalStorage()" class="enviar2">Mostrar Citas</button>
      <tr *ngFor="let element of listacitas; let i = index">
        <td>{{ element.nombre }}</td>
        <td>{{ element.apellido }}</td>
        <td>{{ element.correo }}</td>
        <td>{{ element.telefono }}</td>
        <td>{{ element.comentario }}</td>
        <td>{{ element.fecha }}</td>
        <td>{{ element.hora }}</td>
        <td (click)="eliminarcita(element)">eliminar</td>
        <!-- <td><button (click)="modificarCita(element.nombre)">Modificar</button></td> -->

      </tr>


    </div>

  </table>


</div>