<!-- <div class="container">
  <div class="ip">
    INFORMACIÓN
  </div>
  <div class="ip2"> PERSONAL</div>
  
<div class="datos">
  <b  class="n1">CI:</b>  <p  class="n2" >10829504.</p> 
  <br>
  <b class="n1">ESTADO CIVIL:</b>  <p class="n2" >  Soltera.</p>
  <br>
  <b class="n1">EDAD: </b> <p class="n2" >18 años.</p>  
  <br>
  <b class="n1"> LUGAR DE RESIDENCIA:</b>   <p  class="n2">Cochabamba.</p> 
  <br>
  <b class="n1">DIRECCCIÓN: </b> <p class="n2" >Av/Petrolera 7.5km Zona/Nueva Vera Cruz.</p>  
  <br>
  <b class="n1">EMAIL:</b>   <p  class="n2"> mariansuarez380@gmail.com.</p> 
  <br>
  <b class="n1">NÚMERO DE CELULAR:</b>  <p class="n2" > 68498440.</p> 
 </div>
 <div>
  
 </div>
</div> --> 
<div class="container">
  <div class="description1">
    <h2>INFORMACIÓN</h2>
    <div class="linea"></div>
  </div>
</div>



<div class="blog-card alt">
  <div class="meta">
    
    <div class="photo" style="background-image: url(http://media.istockphoto.com/photos/security-concept-picture-id166419812)"></div>
  </div>
  <div class="description">
 
    <p>
    
       CI : 10829504 <br>
       ESTADO CIVIL: Soltera. <br>
       EDAD: 18 Años. <br> 
       LUGAR DE RESIDENCIA:Cochabamba. <br>
       DIRECCCIÓN:Av/Petrolera 7.5km Zona/Nueva Vera Cruz. <br>
       EMAIL: mariansuarez380@gmail.com. <br>
       NÚMERO DE CELULAR:68498440.


     
    </p>
  </div>
</div>
  

