/* .datos{
 padding: 90px;
 margin: 2px;  
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.n1{
  font-size: 25px;
  color: crimson;
}

.n2{
  font-size: 25px;
  margin: 2px;
} 



.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}


 .ip{
  margin-top: 5%;
  text-align: center;
  margin-right: 27px;
  font-size: 40px;
  color: crimson;
}  

.ip2{
  margin-top: 15px;
  text-align: center;
  margin-right: 27px;
  font-size: 40px;
  color: crimson;
}

@media screen and (max-width: 500px) {
  .datos{
    padding: 20px;
  }
} */




/* .container{
  margin-top: 10px;
} */

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(30, 23, 44, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}

.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(215, 3, 3, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background:  rgb(187, 184, 184);;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color:crimson;
  margin-top: 5px;
  font-weight: bold;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
/* .blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: rgb(77, 69, 70);
  width: 100px;
  top: -0.75rem;
  border-radius: 3px;
} */
.blog-card:hover .details {
  left: 0%;
}
.container{
  text-align: center;

}
  .description1 h2 {
    margin-top: 30px;
  color:  crimson;
  font-size: 50px;
  }
  .linea{
    height: 4px;
    border-radius: 20px;
    background-color: crimson;
    width: 30%;
    margin: 0% 35%;
  }
 
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: crimson;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
    
  }
  .blog-card.alt {
    flex-direction: row-reverse;
    
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }

  .description{
    color:white;

    font-weight: bold;
    font-size: 25px;
  }
  #dis2{
    color:black
  }

  .blog-card.alt{
    margin: 5% 25%
  }
 
.container-form{
  width: 80vw;
}


}
